<div class="main">
  <div class="carousel-container" [ngClass]="{moveForward: moveForward, moveBackwards: moveBackwards}">
    <div #track class="carousel-track" [ngClass]="{
      moveForward: moveForward,
      moveBackwards: moveBackwards
    }">
      <button class="left-btn" (click)="backwards()">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>
      <button class="right-btn" (click)="forward()">
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
      <div #carouselItems class="carousel-item" *ngFor="let item of items; let i = index">
        <carouselo-card [imageSource]="item.imageSource"
                        [ngClass]="{
                        hiddenFirst: i === 0,
                        firstImage: i === 1,
                        secondImage: i === 2,
                        middleImage: i === 3,
                        fourthImage: i === 4,
                        fifthImage: i === 5,
                        hiddenLast: i === 6
                        }
">
          {{item.content}}
        </carouselo-card>
      </div>
    </div>
  </div>
</div>
